POLYMARKET_MODE=collect
POLYMARKET_UID=1000
POLYMARKET_GID=1000
POLYMARKET_ASSETS=BTC,ETH
POLYMARKET_INTERVALS=5m,15m
POLYMARKET_WINDOWS_TO_TRACK=2
POLYMARKET_DATA_DIR=/home/spoon/polymarket-data
POLYMARKET_DISPLAY_TZ=America/Chicago
POLYMARKET_ENABLE_CLOB_WEBSOCKET=1
POLYMARKET_MAX_BATCH_SIZE=100
POLYMARKET_REST_SNAPSHOT_INTERVAL=1
POLYMARKET_CLOB_REST_BACKUP_INTERVAL=15
POLYMARKET_MARKET_REFRESH_INTERVAL=30
POLYMARKET_MARKET_FETCH_TIMEOUT=10
